<h4>Add an item</h4>

<%= form_for [user, item] do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'sr-only' %>
    <%= f.text_field :name, class: 'form-control', placeholder: "Enter a new item" %>
    <%= f.text_field :time_remaining, class: 'form-control', id: 'daysleft', placeholder: "7" %>
  </div>
  <%= f.submit "Create Item", class: 'btn btn-default pull-right' %>
<% end %>
